# All
.git
# Ignore all .env files
.env*
misc

# Don't ignore these specific .env files
!.env.development
!.env.dist

.fuse*

# JS
node_modules
.expo
expo-env.d.ts
*.tsbuildinfo 

# Next
.next
next-env.d.ts

# Expo
android/
ios/

# Django
venv
__pycache__
db.*
