import type React from "react";

interface {{pascalCase name}}LayoutProps extends Readonly<{
  children: React.ReactNode;
}> {}

const {{pascalCase name}}Layout: React.FC<{{pascalCase name}}LayoutProps> = ({ children }) => {
  return (
    <div>
      {children}
    </div>
  );
};

export default {{pascalCase name}}Layout;